* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.menu_item {
  border-right: 2px dotted #000;
  padding-right: 48px;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  max-width: 100%;
}
.subheader_logo img {
  margin-top: 20px;
}

.subheader_official {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}

.subheader_call {
  margin-top: 19px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  width: 170px;
  height: 46px;
  margin-top: 19px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
  text-transform: uppercase;
}

.promo {
  min-height: 800px;
  padding: 150px 0 135px;
  background: url("../../../assets/img/uber_bg.png") center center/cover no-repeat;
}

.promo_header {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  text-align: center;
}

.promo_subheader {
  margin: 22px 0 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 36px;
  text-align: center;
}

.promo_descr {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

.promo_btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reasons .reasons_block .reasons_descr {
  width: 343px;
}
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.label_white {
  background-color: #fff;
  color: #000;
}

.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.title_white {
  color: #fff;
}

.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}
.subtitle_white {
  color: #fff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px;
  background: url("../../../assets/img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../../../assets/img/card1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../../../assets/img/card2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../../../assets/img/card3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../../../assets/img/card4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../../../assets/img/card5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../../../assets/img/card6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.mobile_item_plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../../../assets/img/mobile_bg.png") center center/cover no-repeat;
}
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}
.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */